.content {
  color: black;
  height: 664px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.content-text {
  max-width: 600px;
  top: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .girl {
    width: 50%;
  }

  .content-text {
    font-size: 15px;
  }
}