.cards{
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  padding-bottom: 50px;
}

.content {
  margin-top: 64px;
}

.content-cards {
  width: 80%;
  color: black;
}

.content-cards-save {
  background-color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.content-cards-icon {
  background-image: url('../../images/save.png');
}

.content-cards-icon:hover {
  background-image: url('../../images/savehover.svg');
}


.content-cards-iconSaved {
  background-image: url('../../images/saved.png');
}

.content-cards_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.content-cards_text{
  max-width: 250px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  gap: 10px;
}

.content-text{
  max-width: 352px;
  margin: auto;
  padding: 10px;
}

.content-text h3{
  text-align: center;
  margin-bottom: 20px;
}

.content-text p {
  margin-top: 10px;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 80px;
}

.show-more {
  width: 288px;
  height: 64px;
  background-color: white;
  border-radius: 80px;
  color: black;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.show-more:hover {
  background-color: #E8E8E8;
}

@media (max-width: 320px) { 
  .content-cards h1{
    font-size: 27px;
    padding-bottom: 20px;
    text-align: center;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }

  .content-cards {
    width: 100%;
  }

  .content-cards_text {
    max-width: 288px;
  }

  .card-image {
    width: 100%;
  }
}